<!DOCTYPE html>
<html>
<head>
    <!--
        Customize the content security policy in the meta tag below as needed. Add 'unsafe-inline' to default-src to enable inline JavaScript.
        For details, see http://go.microsoft.com/fwlink/?LinkID=617521
    -->

    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' http://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" href="css/jquery.mobile-1.4.5.css" />

    <script src="lib/jquery-1.11.2.min.js"></script>
    <script src="lib/jquery.mobile-1.4.5.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <script src="scripts/common.js"></script>
    <script src="lib/jquery.validate.min.js"></script>
    <script src="lib/angular.min.js"></script>

    <title>BMI Calculator</title>
</head>
<body>
    <div data-role="panel" class="ui-panel-position-left ui-panel-inner" id="mypanel" data-display="overlay">
        <div class="panel-header" data-position="fixed">NAVIGATE</div>
        <div class="close-button">
            <a href="#mypanel" class="ui-btn ui-corner-all ui-btn-right ui-btn-icon-notext ui-icon-delete ui-nodisc-icon ui-alt-icon" data-role="button" data-rel="close">Close Me</a>
        </div>

        <ul data-role="none" data-inset="false" class="ui-listview">
            <li><a href="#" id="btnHome">HOME</a></li>
            <li><a href="#" id="btnYourInfo" onclick="window.location.reload()">PROFILE</a></li>
            <li><a href="#" id="btnAppt">APPOINTMENTS</a></li>
            <li><a href="#" id="btnHistory">HISTORY</a></li>
            <li><a href="#">ABOUT US</a></li>
            <li><a href="#">FAQ</a></li>

            <li><div class="divider"></div></li>

            <li><a href="#">SETTINGS</a></li>
            <li><a href="#" id="btnLogout">LOG OUT</a></li>
        </ul>

        <div class="ui-page-footer-fixed">
            <h3>MP13 | Copyright 2018 Temasek Polytechnic</h3>
        </div>
    </div>
    <div data-role="header" class="ui-header" data-position="fixed" id="header">
        <div class="menu-button">
            <a href="#mypanel" class="ui-btn ui-corner-all ui-btn-left ui-btn-icon-notext ui-icon-bars ui-nodisc-icon ui-alt-icon ui-noboxshadow" data-role="button" data-rel="open">Menu</a>
            <h3 style="text-align: center; letter-spacing: 0.5px;">CALCULATE YOUR BMI</h3>
            <div class="divider"></div>
        </div>
    </div>

    <div ng-app="myApp" ng-controller="patientCtrl">
        <div role="main" class="main-content">
            <div class="bmicalculator">
                <div>
                    <p style="font-size: 10px; font-weight: bold; margin-top : -.5em;">All BMI values are calculated using Singapore's HPB standards.</p>
                </div>

                <div id="container" style="height: 300px; width: 300px !important; overflow: visible !important;"></div>

                <div class="bmi-form">
                    <div class="height">
                        <label class="bmi-height" for="name">Height (CM)</label>
                        <input type="number" name="txtName" class="height-field" id="txtHeight" data-ng-model="height" placeholder="0">
                    </div>

                    <div class="weight">
                        <label class="bmi-weight" for="Weight">Weight (KG)</label>
                        <input type="number" name="textNRIC" class="weight-label" id="txtWeight" data-ng-model="weight" placeholder="0">
                    </div>
                </div>

                <label>
                    {{ results }}
                </label>

                <div class="bmi-button">
                    <!--<button type="button" ng-click="btnCalc()" id="btnCalc">Calculate BMI</button>-->
                    <button class="ui-btn ui-btn-a ui-corner-all" ng-click="btnCalc()" id="btnCalc" style="letter-spacing: 2px;">CALCULATE</button>
                </div>

                <div>
                    <a href="https://www.nhlbi.nih.gov/health/educational/lose_wt/risk.htm#limitations">Limitations of the BMI</a><br />
                    <a href="https://www.nhlbi.nih.gov/health/educational/lose_wt/risk.htm">Assessing Your Risk</a><br />
                    <a href="https://www.nhlbi.nih.gov/health/educational/lose_wt/control.htm">Controlling Your Weight</a><br />
                    <a href="https://www.nhlbi.nih.gov/health/educational/lose_wt/eat/recipes.htm">Recipes</a>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="scripts/platformOverrides.js"></script>
    <script type="text/javascript" src="scripts/bmicalculator.js"></script>
</body>
</html>
