<!DOCTYPE html>
<html>
<head>
    <!--
        Customize the content security policy in the meta tag below as needed. Add 'unsafe-inline' to default-src to enable inline JavaScript.
        For details, see http://go.microsoft.com/fwlink/?LinkID=617521
    -->
    
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' http://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" href="css/jquery.mobile-1.4.5.css" />

    <script src="lib/jquery-1.11.2.min.js"></script>
    <script src="lib/jquery.mobile-1.4.5.min.js"></script>
    <script src="scripts/common.js"></script>
    <script src="lib/jquery.validate.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="scripts/platformOverrides.js"></script>
    <script type="text/javascript" src="scripts/manualEntry.js"></script>
    <script type="text/javascript" src="scripts/manualEntryAngular.js"></script>
    <title>Check Patient</title>
</head>
<body>
    <div ng-app="myApp" ng-controller="patientCtrl" data-role="page" id="front-page">
        <div data-role="panel" class="ui-panel-position-left ui-panel-inner" id="mypanel" data-display="overlay">
            <div class="panel-header" data-position="fixed">NAVIGATE</div>
            <div class="close-button">
                <a href="#mypanel" class="ui-btn ui-corner-all ui-btn-right ui-btn-icon-notext ui-icon-delete ui-nodisc-icon ui-alt-icon" data-role="button" data-rel="close">Close Me</a>
            </div>

            <ul data-role="none" data-inset="false" class="ui-listview">
                <li><a href="#" id="btnHome">HOME</a></li>
                <li><a href="#" id="btnYourInfo" onclick="window.location.reload()">PROFILE</a></li>
                <li><a href="#" id="btnAppt">APPOINTMENTS</a></li>
                <li><a href="#" id="btnHistory">HISTORY</a></li>
                <li><a href="#">ABOUT US</a></li>
                <li><a href="#">FAQ</a></li>

                <li><div class="divider"></div></li>

                <li><a href="#">SETTINGS</a></li>
                <li><a href="#" id="btnLogout">LOG OUT</a></li>
            </ul>

            <div class="ui-page-footer-fixed">
                <h3>MP13 | Copyright 2018 Temasek Polytechnic</h3>
            </div>
        </div>
        <div data-role="header" class="ui-header" data-position="fixed" id="header">
            <div class="menu-button">
                <a href="#mypanel" class="ui-btn ui-corner-all ui-btn-left ui-btn-icon-notext ui-icon-bars ui-nodisc-icon ui-alt-icon ui-noboxshadow" data-role="button" data-rel="open">Menu</a>
                <h3 style="text-align: center; letter-spacing: 0.5px;">ENTER YOUR DETAILS</h3>
                <div class="divider"></div>
            </div>
        </div>

        <div class="main-content">
            <div class="manualEntry">
                <form name="NewPatientForm" id="NewPatientForm">
                    <div data-role="fieldcontainer">
                        <label for="name">Name as per NRIC</label>
                        <input type="text" name="txtName" id="txtName" data-ng-model="obj.name" placeholder="Enter Name" required>
                    </div>

                    <div data-role="fieldcontainer">
                        <label for="NRIC">NRIC/Fin No</label>
                        <input type="text" name="textNRIC" id="textNRIC" data-ng-model="obj.nric" placeholder="Enter NRIC/Fin No" value=required>
                    </div>

                    <div data-role="fieldcontainer">
                        <label for="mobileNo">Mobile Number</label>
                        <input type="text" name="txtMobileNo" id="txtMobileNo" data-ng-model="obj.mobileNo" placeholder="Enter Mobile Number" required>
                    </div>

                    <div data-role="fieldcontainer">
                        <label for="homeAdd">Home Address</label>
                        <input type="text" name="txtHomeAdd" id="txtHomeAdd" data-ng-model="obj.homeAdd" placeholder="Enter Home Address" value="" required>
                    </div>

                    <div data-role="fieldcontainer">
                        <label for="mStatus">Marital Status</label>
                        <input type="text" name="txtMStatus" id="txtMStatus" data-ng-model="obj.marital" placeholder="Enter Marital Status">
                    </div>

                    <div data-role="fieldcontainer">
                        <label for="sex">Sex</label>
                        <input type="text" name="txtSex" id="txtSex" data-ng-model="obj.sex" placeholder="Enter Your Sex">
                    </div>

                    <div data-role="fieldcontainer">
                        <label for="food_allergies">Food Allergy</label>
                        <input type="text" name="txtFA" id="txtFA" data-ng-model="obj.food_allergies" placeholder="Enter Food Allergy">
                    </div>

                    <div data-role="fieldcontainer">
                        <label for="drug_allergies">Drug Allergy</label>
                        <input type="text" name="txtDA" id="txtDA" data-ng-model="obj.drug_allergies" placeholder="Enter Drug Allergy">
                    </div>


                    <div data-role="fieldcontainer">
                        <label for="nationality">Nationality</label>
                        <input type="text" name="txtNationality" id="txtNationality" data-ng-model="obj.nationality" placeholder="Enter Your Nationality">
                    </div>

                    <div data-role="fieldcontainer">
                        <label for="DOB">Date of Birth</label>
                        <input type="date" name="txtDOB" id="txtDOB" placeholder="Enter Date of Birth ( dd/mm/yyyy )" data-ng-model="obj.dob" required>
                    </div>

                    <div class="entry-button">
                        <button ng-click="btnRegister()" class="ui-btn ui-btn-a ui-corner-all" id="btnRegister" style="letter-spacing: 2px;">REGISTER</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</body>
</html>
