<!DOCTYPE html>
<html>
<head>
    <!--
        Customize the content security policy in the meta tag below as needed. Add 'unsafe-inline' to default-src to enable inline JavaScript.
        For details, see http://go.microsoft.com/fwlink/?LinkID=617521
    -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://mp13.projectsbit.org https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">

    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" href="css/jquery.mobile-1.4.5.css" />

    <script src="lib/jquery-1.11.2.min.js"></script>
    <script src="lib/jquery.mobile-1.4.5.min.js"></script>
    <script src="lib/jquery.validate.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="scripts/common.js"></script>
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="scripts/platformOverrides.js"></script>
    <script src="scripts/newuser.js"></script>
    <title>TrueMedical Patient</title>
</head>
<body>
    <div class="app" ng-app="myApp" ng-controller="asdCtrl">
        <div role="main" class="ui-content" id="main-ui">
            <div style="margin-top:4.5em;margin-bottom:1em;text-align:center">
                <img src="images/truemedlogo.png" alt="True Medical Clinic Logo" style="max-width:80%; max-height:80%;" />
            </div>

            <div class="signup-page">
                <h3 class="signup-heading">SIGN UP</h3>
                <form name="NewUserForm" id="NewUserForm">
                    <div data-role="fieldcontainer">
                        <label for="userid" style="text-align:left">Username</label>
                        <input type="text" name="txtNewLogin" id="txtNewLogin" placeholder="Username" value="kievooi123" required>
                    </div>

                    <div data-role="fieldcontainer">
                        <label for="email" style="text-align:left">Email</label>
                        <input type="text" name="txtNewEmail" id="txtNewEmail" ng-model="email" placeholder="Email" value="truemedical13@outlook.com" required>
                    </div>

                    <div data-role="fieldcontainer">
                        <label for="password" style="text-align:left">Password</label>
                        <input type="password" name="txtNewPassword" id="txtNewPassword" placeholder="Password" value="kievooi123" required>
                    </div>

                    <div data-role="fieldcontainer">
                        <label for="repassword" style="text-align:left">Confirm Password</label>
                        <input type="password" name="txtNewPasswordAgain" id="txtNewPasswordAgain" placeholder="Confirm Password" value="kievooi123" required>
                    </div>

                    <div class="signup-button">
                        <button class="ui-btn ui-corner-all" id="btnCreateAccount" ng-click="sendOTP()" style="letter-spacing:2px;">SIGN UP</button>
                    </div>
                </form>
            </div>

            <div class="signup-footer">
                Already have an account? <a href="login.html" data-ajax="false" style="color: #008D94;">Sign in</a>
            </div>

        </div>
    </div>
    
</body>
</html>